/* ---  Poppins’ rounded design complements Lato’s elegant curves. --- */

:root {
  --primary-color: #071952;
  --secondary-color: #088395;
  --third-color: #37B7C3;
  --forth-color: #EBF4F6;
  --white: #fff;
  --black: #000;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
}

/* --- Reset Styles --- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* Default browser font size */
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  color: var(--primary-color);
  background-color: var(--white);
}

.bg-color{
  background-color: var(--forth-color);
}

.secondary-color{
  color:var(--secondary-color);
}

.third-color{
  color:var(--third-color);
}

/* --- Typography --- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-weight-medium);
  line-height: 1.25;
}

h1{
  font-size: 32px;
  color: var(--primary-color);
}

h2{
  font-size: 20px;
}

h3{
  font-size: 18px;
}

h4{
  font-size: 16px;
}

h5{
  font-size: 12px;
}

p {
  font-size: 12px;
  letter-spacing: 0.24px;
}

a {
  text-decoration: none;
  color: rgba(var(--black-color), 0.88);
  transition: color 0.3s ease;
}

/* --- Layout Helpers --- */
.container {
  width: 100%;
  padding: 32px 16px;
  scroll-margin-top: 60px;
}

/* --- Utility Classes --- */
.d-flex{
    display: flex;
}

.mob-hide {
  display: none;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 4px;
}
.mt-2 {
  margin-top: 8px;
}
.mt-3 {
  margin-top: 16px;
}

.mb-1 {
  margin-bottom: 4px;
}
.mb-2 {
  margin-bottom: 8px;
}
.mb-3 {
  margin-bottom: 16px;
}

/* --- Forms --- */
input,
textarea,
button {
  font-family: inherit;
  font-size: 16px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  color: var(--white);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--forth-color);
}

.banner{
  flex-direction: column;
  align-items: center;
  gap:16px;
}

.banner-text{
  text-align: center;
}

.banner-img{
  width: 50%;
  border-radius: 4px;
  border-bottom: 10px solid var(--forth-color);
  padding:8px;
}

.contact-gird,.exp-grid{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-gird__column,.exp-box {
  padding: 16px;
  border-radius: 4px;
}

.middle-column{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
}

.p-16{
  padding: 16px;
  border-radius: 4px;
}

.copyright{
  font-size: 10px;
}

.contact-box{
  display: flex;
  gap: 16px;
}

.contact-box a{
  line-height: 0;
}

.mail-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-icon{
  width: 32px;
  transition: transform 0.3s ease;
}

.full-height{
  height: 100%;
}

.tool-container{
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.tool-box{
  padding: 8px;
  border-radius: 4px;
  width: 100px;
  background-color: var(--forth-color);
}

.tool-img{
  width: 48px;
}

.italic{
  font-style: italic;
}

.project-box{
  width: 100%;
}

.arrow{
  width: 24px;
}

.projects .d-flex{
  gap: 16px;
  flex-direction: column;
}

.project{
  border-radius: 8px;
  background-color: var(--forth-color);
}

.project-img{
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.projects .project-details{
  padding: 10px 16px;
  justify-content: space-between;
  flex-direction: row;
}

.nav{
  margin: 16px auto 0;
  padding: 16px;
  border-radius: 8px;
  position: sticky;
  top: 16px;
  width: 90%;
  background: rgba(0, 0, 0, 0.1); /* Slightly darker semi-transparent background */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow */
  backdrop-filter: blur(24px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(12px); /* Frosted glass for Safari */
  z-index: 1;
}

.nav-links{
  gap: 16px;
  margin: 0 auto;
}

.nav-links a {
transition: 0.35s;
}

.nav-links a:hover {
text-shadow: 0 0 15px var(--primary-color);
-moz-transform: scale(1.05);
-webkit-transform: scale(1.05);
-o-transform: scale(1.05);
transform: scale(1.05);
}

/* --- Responsive Design --- */
@media (min-width: 768px) {
  .nav{
    width: 30%;
}

  .mob-hide{
    display: unset;
  }

  h1{
    font-size: 48px;
  }

  h2{
    font-size: 24px;
  }

  h3{
    font-size: 20px;
  }

  h4{
    font-size: 18px;
  }

  h5{
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding:32px;
  }

  .banner{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .banner-text{
    text-align: left;
    width: 50%;
    padding: 8px;
    border-left: 10px solid var(--forth-color);
  }

  .banner-img{
    width: 30%;
    border-right: 10px solid var(--forth-color);
    border-bottom: none;
  }

  .projects .d-flex{
    flex-direction: row;
  }

  .project{
    width: 50%;
    transition: transform 0.3s ease;
  }

  .project:hover{
    transform: scale(1.02);
  }

  .project-img{
    width: 100%;
  }

  .tool-container{
    justify-content: start;
  }
  .contact-gird{
    flex-direction: row;
  }
  
  .contact-gird__column{
    flex-direction: column;
  }

  .contact-heading{
    margin-bottom: 16px;
  }

  .first-column{
    display: flex;
    justify-content: space-between;
    flex: 6;
    transition: transform 0.3s ease;
  }

  .first-column:hover{
    color: var(--forth-color);
    background-color: var(--third-color);
  }

  .middle-column{
    flex: 5;
  }

  .last-column{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-box{
    flex-direction: column;
  }

}

@media (min-width: 991px) {
  .container {
    width: 60%;
  }

  .contact-icon:hover{
    transform: scale(1.15);
  }
}
