/* ---  Poppins’ rounded design complements Lato’s elegant curves. --- */

:root {
  --primary-color: #102c57;
  --secondary-color: #dac0a3;
  --third-color: #eadbc8;
  --forth-color: #fefaf6;
  --white: #fff;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
}

/* --- Reset Styles --- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* Default browser font size */
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--primary-color);
}

/* --- Typography --- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-weight-medium);
  line-height: 1.25;
}

p {
  letter-spacing: 0.24px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--primary-color);
}

/* --- Layout Helpers --- */
.container {
  width: 100%;
  padding: 32px 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  flex-direction: column; /* Mobile-first: stack items */
}

.col {
  flex: 1;
}

/* --- Utility Classes --- */
.d-flex{
    display: flex;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 4px;
}
.mt-2 {
  margin-top: 8px;
}
.mt-3 {
  margin-top: 16px;
}

.mb-1 {
  margin-bottom: 4px;
}
.mb-2 {
  margin-bottom: 8px;
}
.mb-3 {
  margin-bottom: 16px;
}

/* --- Forms --- */
input,
textarea,
button {
  font-family: inherit;
  font-size: 16px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  color: var(--white);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--third-color);
}

.logo {
  color: var(--primary-color);
  display: inline-lock;
}

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: black;
  font-weight: var(--font-weight-medium);
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 24px;
  padding: 10px 20px 10px 0px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.hero-section .d-flex{
    align-items: baseline;
  }

/* --- Responsive Design --- */
@media (min-width: 768px) {
  .container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    padding:32px;
  }

  .row {
    flex-direction: row; /* Larger screens: row layout */
  }

  .header {
    border-radius: 32px;
    padding: 0 32px;
    width: 70%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .header .d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header li {
    float: left;
  }
  .header li a {
    padding: 22px 14px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  .hero-section {
    margin-top: 112px;
  }
}
